<header class="header">
  <div class="container">
    <img
      src="../assets/img/renovaciclo-logo-sem-fundo.png"
      alt="Logo RenovaCiclo"
      class="logo"
    />

    <nav class="nav" id="nav">
      <a href="index.html">Início</a>
      <a href="#sobre">Sobre</a>
      <a href="/servicos.html">Nossos Serviços</a>
      <a href="#contato">AGENDAR CONSULTORIA</a>
    </nav>

    <div class="menu-hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
