.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Linha sutil abaixo do menu*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.header-container nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    z-index: 1001;
    text-decoration: none;
}