.hero-section {
    position:relative;
    height: 100vh;
    background-image: url('../img/HomeImage/globo-sustentavel.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
    min-height: 100vh;
}

.hero-subtitle {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    max-width: 500px;
    text-transform: uppercase;
}

.hero-tagline {
    position: absolute;
    bottom: 50px;
    right: 5%;
    max-width: 120px;
    font-size: 14px;
    text-align: right;
    line-height: 1.2;
    font-weight: 500;
    
}

.legislacao-section{
    padding: 100px 5%;
    background-color: #ffffff;
    color: #333;
    font-family: sans-serif;
}

.legislacao-grid {
    display: flex;
    gap: 60px;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.vertical-divider {
    width: 1px;
    background-color: #ccc;
    align-self: stretch;
}

.leg-colum {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.leg-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    font-style: italic;
    margin-bottom: 10px;
}

.law-tag {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.law-tag:hover {
    color: #27ae60;
    text-decoration: underline;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 50px;
    color: #0b3d2e;
    text-align: center;
}

/*SEÇÃO DESAFIO*/
.maceio-section {
    padding: 90px;
    background-color: #e0f5e7;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}
/*CONTAINER PRINCIPAL DA SEÇÃO*/
.maceio-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.maceio-image-container {
    display: flex;
    align-items: center;
    min-width: 300px;
    position: relative;
}

.maceio.img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 15px;
}

.maceio-badge {
    position: absolute;
    bottom: -20px;
    right: -20px;
    background: #011e11;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(39, 174, 96, 0.3);
}

.maceio-badge span {
    font-size: 24px;
    font-weight: 800;
    display: block;
}
.maceio-content {
    flex: 1;
    min-width: 350px;
}

.maceio-title {
    font-size: 2.8rem;
    color: #0b3d2e;
    margin-bottom: 30px;
    line-height: 1.1;
}

.maceio-item {
    margin-bottom: 30px;
}

.maceio-item h3 {
    font-size: 1.2rem;
    color: #0b3d2e;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.maceio-item p {
    font-size: 1.05rem;
    color: #666;
    line-height: 1.7;
}

.maceio-item.highlight {
    background-color: #f1f8f5;
    padding: 20px;
    border-left: 4px solid #27ae60;
    border-radius: 0 10px 10px 0;
}

/* SEÇÃO SOLUÇÃO */
.solucao-section {
    background-color: #011e11;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    color: white;
}

/* LUZES DE FUNDO */
.luz-verde {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(18, 255, 70, 0.4) 0%, transparent 75%);
    filter: blur(60px);
    z-index: 1;
    pointer-events: none;
}

.luz-1 { top: -50px; left: -100px; width: 600px; height: 600px; }
.luz-2 { bottom: -100px; right: -50px; width: 550px; height: 550px; }
.luz-3 { 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    width: 700px; height: 400px; 
    background: radial-gradient(ellipse, rgba(18, 255, 70, 0.25) 0%, transparent 70%);
}

/* WRAPPER E CONTAINERS */
.solucao-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 60px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

.swiper-container-relative {
    position: relative;
    width: 100%;
}

.mySwiper {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
}

/* TEXTOS */
.main-title { font-size: 1.8rem; text-align: center; margin-bottom: 5px; }
.title-line { border: 0; border-top: 1px solid rgba(255,255,255,0.3); margin-bottom: 15px; }
.intro-text { font-size: 0.9rem; line-height: 1.4; margin-bottom: 20px; opacity: 0.9; text-align: center;}
.beneficios-label { text-align: center; font-size: 1.5rem; margin-bottom: 20px; font-weight: bold; }

/* CARDS */
.card-industrial {
    background: rgba(255, 255, 255, 0.05) !important; 
    /*desfoca o que está atrás do card */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px) !important; /* Compatibilidade Safari */
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    padding: 20px;
    width: 120;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0;
    position: relative;
    box-sizing: border-box;
}

.card-content h4 {
    font-size: 1.2rem; 
    font-weight: 700; 
    margin-bottom: 12px; 
    /* Cor branca para contraste máximo e brilho pra combinar com o neon*/
    color: #ffffff !important; 
    text-shadow: 0 0 10px rgba(18, 255, 70, 0.3);
}

.circle-image {
    margin: 0 auto 20px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #12ff46;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(18, 255, 70, 0.4);
}
.circle-image img { width: 100%; height: 100%; object-fit: cover; }

/* SETAS */
.swiper-button-next, .swiper-button-prev {
    color: #12ff46 !important;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 10;
}

.swiper-button-prev {
    left: -40px !important;
}

.swiper-button-next {
    right: -40px !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 24px;
}

/* PAGINAÇÃO */
.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
    background: #12ff46 !important;
    opacity: 0.5;
    bottom: 5;
}
.swiper-pagination-bullet-active { opacity: 1; }

/* DECORAÇÃO */
.star-deco {
    position: absolute;
    color: #12ff46;
    font-size: 150px;
    opacity: 0.4;
    z-index: 1;
}
.deco-1 { top: -20px; right: 20px; }
.deco-2 { bottom: 20px; left: 20px; }

/*SEÇÃO EXEMPLOS DE SUCESSO*/
.sucesso-section {
    padding: 40px 0;
    background-color: #ffffff;
    color: #333;
}

.sucesso-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.sucesso-main-title {
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #011e11;
}

.sucesso-grid {
    display: flex;
    gap: 40px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

.sucesso-card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sucesso-card h3 {
    font-size: 1.5rem;
    color: #0b3d2e;
    margin-bottom: 20px;
    font-weight: 800;
}

.sucesso-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
}

.sucesso-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sucesso-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}

/* BOTÃO AMARELO */
.btn-saiba-mais {
    align-self: flex-end;
    background-color: #faff12;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 3px;
    transition: all 0.3s ease;
    display: inline-block;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

.btn-saiba-mais:hover {
    transform: scale(1.05);
}

/* RESPONSIVIDADE TABLETS E CELULARES*/
@media (max-width: 992px) {
    .hero-section {
        padding: 0 20px;
        justify-content: center;
        text-align: center;
    }

    .hero-subtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-tagline {
        position: static;
        margin-top: 40px;
        text-align: center;
        max-width: 100%;
        font-size: 12px;
    }

    .header-container {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .legislacao-grid {
        flex-direction: column;
    }

    .vertical-divider {
        display: none;
    }
    /*SEÇÃOD DESAFIO*/
    .maceio-section {
        padding: 50px 20px;
    }

    .maceio-flex {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .maceio-image-container {
        min-width: unset;
        width: 100%;
        justify-content: center;
    }

    .maceio-image-container img {
        max-width: 100%;
        height: auto;
    }

    .maceio-badge {
        right: 0;
        bottom: -10px;
        padding: 15px;
        min-width: 120px;
    }

    .maceio-badge span {
        font-size: 20px;
    }

    .maceio-content {
        min-width: unset;
        width: 100%;
    }

    .maceio-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .maceio-item h3 {
        justify-content: center;
    }

    .maceio-item.highlight {
        border-left: none;
        border-top: 4px solid #27ae60;
        border-radius: 10px;
    }
    /*SEÇÃO SOLUÇÃO*/
    .solucao-section {
        padding: 40px 20px;
    }

    .solucao-wrapper {
        padding: 0 10px;
    }

    .main-title {
        font-size: 1.5rem;
    }

    .swiper-button-prev {
        left: 5px !important;
        transform: scale(0.8);
    }

    .swiper-button-next {
        right: 5px !important;
        transform: scale(0.8);
    }

    /*Esconde as setas no mobile*/
    .swiper-button-prev, .swiper-button-next { display: none; }

    .card-industrial {
        height: auto;
        min-height: 400px;
        padding: 30px 15px !important;
    }
    
    .circle-image {
        width: 100px !important;
        height: 100px !important;
    }
    /*SEÇÃO EXEMPLOS DE SUCESSO*/
    .sucesso-grid {
        flex-direction: column;
    }
    
    .sucesso-main-title {
        font-size: 1.8rem;
    }
}

/* AJUSTES PARA CELULARES PEQUENOS (Até 480px) */
@media (max-width: 480px) {

}