.hero-section {
    position:relative;
    height: 100vh;
    background-image: url('../img/HomeImage/globo-sustentavel.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
    min-height: 100vh;
}

.hero-subtitle {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    max-width: 500px;
    text-transform: uppercase;
}

.hero-tagline {
    position: absolute;
    bottom: 50px;
    right: 5%;
    max-width: 120px;
    font-size: 14px;
    text-align: right;
    line-height: 1.2;
    font-weight: 500;
    
}

.legislacao-section{
    padding: 100px 5%;
    background-color: #ffffff;
    color: #333;
    font-family: sans-serif;
}

.legislacao-grid {
    display: flex;
    gap: 60px;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.vertical-divider {
    width: 1px;
    background-color: #ccc;
    align-self: stretch;
}

.leg-colum {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.leg-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    font-style: italic;
    margin-bottom: 10px;
}

.law-tag {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.law-tag:hover {
    color: #27ae60;
    text-decoration: underline;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 50px;
    color: #0b3d2e;
    text-align: center;
}

/* RESPONSIVIDADE PARA MOBILE*/
@media (max-width: 768px) {
    .hero-section {
        padding: 0 20px;
        justify-content: center;
        text-align: center;
    }

    .hero-subtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-tagline {
        position: static;
        margin-top: 40px;
        text-align: center;
        max-width: 100%;
        font-size: 12px;
    }

    .header-container {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .legislacao-grid {
        flex-direction: column;
    }

    .vertical-divider {
        display: none;
    }
}