.hero-section {
    position:relative;
    height: 100vh;
    background-image: url('../img/HomeImage/globo-sustentavel.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
    min-height: 100vh;
}

.hero-subtitle {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    max-width: 500px;
    text-transform: uppercase;
}

.hero-tagline {
    position: absolute;
    bottom: 50px;
    right: 5%;
    max-width: 120px;
    font-size: 14px;
    text-align: right;
    line-height: 1.2;
    font-weight: 500;
    
}

/* RESPONSIVIDADE PARA MOBILE*/
@media (max-width: 768px) {
    .hero-section {
        padding: 0 20px;
        justify-content: center;
        text-align: center;
    }

    .hero-subtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-tagline {
        position: static;
        margin-top: 40px;
        text-align: center;
        max-width: 100%;
        font-size: 12px;
    }

    .header-container {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }
}